import { DashboardClientOptions } from './src/lib/third_party/klasa-dashboard-hooks';

export const B4D_TOKEN = 'TOKEN GOES HERE';

export const CLIENT_OPTIONS: DashboardClientOptions = {
	clientID: '',
	clientSecret: '',
	dashboardHooks: { port: 8282, apiPrefix: '' }
};

export const OAUTH2_OPTIONS: OAuth2Options = {
	redirectUris: 'http://localhost:8282/oauth/callback',
	scopes: ['identify', 'guilds']
};
